body {
}

#wrapper {
    width: 1000px;
    border: thin solid #000000;
    margin: 0 auto;
}

header {
    height: 100px;
    border: thin solid #ff0000;
}

nav {
    height: 80px;
    border: thin solid #00ff90;
    font-size: 1.2em;
    padding-left: 5px;
    background-color: blueviolet;
}

main {
    min-height: 400px;
    border: thin solid #0026ff
}

footer {
    height: 20px;
    border: thin solid #b200ff;
}

#Menu1 {
    margin-top: 20px;
}
